<div class="form-container">
    <form #bookForm="ngForm" (ngSubmit)="onFormSubmit(bookForm)">
        <h2> send book to external server:</h2>
        <div class="form-item">
            <label>Book ID:</label>
            <input class="style-input" [(ngModel)]="bookModel.id" name="bookId" required type="number" placeholder="id">
        </div>
        <div class="form-item">
            <label>Book Name:</label>
            <input class="style-input" [(ngModel)]="bookModel.name" name="bookName" required type="text" placeholder="title">
        </div>
        <div class="form-item">
            <label>Book Category:</label>
            <select name="bookCategory" [(ngModel)]="bookModel.bookCategory" required>
                <option [ngValue]="Romantic" value="Romantic">Romantic</option>
                <option [ngValue]="Criminal" value="Criminal">Criminal</option>
                <option [ngValue]="Comedy" value="Comedy">Comedy</option>
            </select>
        </div>
        <div class="form-item">
            <label>Author:</label>
            <input class="style-input" [(ngModel)]="bookModel.author.id" name="authorId" required type="number" placeholder="id">
            <input class="style-input" [(ngModel)]="bookModel.author.firstName" name="authorFirstName" required type="text" placeholder="first name">
            <input class="style-input" [(ngModel)]="bookModel.author.lastName" name="authorLastName" id="authorLastName" required type="text"
                placeholder="last name">
        </div>
        <div class="form-item">
            <label>Price:</label>
            <input class="style-input" [(ngModel)]="bookModel.price.value" name="price" required type="number" placeholder="price">
            <select name="currencyBuying" [(ngModel)]="currencyBuying" required>
                <option [ngValue]="dollar" value="dollar">dollar</option>
                <option [ngValue]="euro" value="euro">euro</option>
                <option [ngValue]="pln" value="pln">pln</option>
            </select>
        </div>
        <div class="form-item">
            <label>Rental Price:</label>
            <input class="style-input" [(ngModel)]="bookModel.price.value" name="rentalPrice" required type="number" placeholder="rental price">
            <select name="currencyRental" [(ngModel)]="currencyRental" required>
                <option [ngValue]="dollar" value="dollar">dollar</option>
                <option [ngValue]="euro" value="euro">euro</option>
                <option [ngValue]="pln" value="pln">pln</option>
            </select>
        </div>
        <div class="form-item">
            <button (click)="resetUserForm()" type="submit"> Send </button>
            <button type="button" (click)="resetUserForm(bookForm)"> Cancel </button>
        </div>
    </form>
</div>

