<h1>BookStore App</h1>
<div class="form-container">
    
    <form>
        <h2> send book to external server:</h2>
        <div class="form-item">
                <label>Book ID:</label>
                <input type="number" placeholder="id">
            </div>
        <div class="form-item">
            <label>Book Name:</label>
            <input type="text" placeholder="title">
        </div>
        <div class="form-item">
            <label>Book Category:</label>
            <select>
                <option value="Romantic">Romantic</option>
                <option value="Criminal">Criminal</option>
                <option value="Comedy">Comedy</option>
            </select>
        </div>
        <div class="form-item">
            <label>Author:</label>
            <input type="number"  placeholder="id">
            <input type="text" placeholder="first name">
            <input type="text" placeholder="last name">
        </div>
        <div class="form-item">
            <label>Price:</label>
            <input type="number" placeholder="price">
            <select>
                <option value="dollar">dollar</option>
                <option value="euro">euro</option>
                <option value="pln">pln</option>
            </select>
        </div>
        <div class="form-item">
            <label>Rental Price:</label>
            <input type="number" placeholder="rental price">
            <select>
                <option value="dollar">dollar</option>
                <option value="euro">euro</option>
                <option value="pln">pln</option>
            </select>
        </div>
    <div class="form-item">
            <button type="submit"> Send </button>
            <button type="reset"> Cancel </button>
    </div>
    </form>
</div>